*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
label.error{
    color: darkred;
}
body{
    background-color: #40a8c4;
    overflow-x: hidden;
}
#div-login{
    display:block;
    border-radius: 5px;
    padding: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}