{% extends "web/base.html" %}
{% load static %}
{% block title %}
Galeria
{% endblock title %}
{% block css %}
{% include "fancybox/fancybox_css.html" %}
{% endblock css %}
{% block js %}
{% include "fancybox/fancybox_js.html" %}
{% endblock js %}
{% block contenido %}
    <br>
        <H2 class="titulo">Galería de autolavado MI CAR</H2>
        <br><br>
        <div class="galeria">
        {% for g in galeria %}
            <a data-fancybox="gallery" href="{{ g.imagen.url }}"><img src="{{ g.imagen.url }}"></a>
        {% endfor%}
        </div>
{% endblock contenido %}}