{% extends "web/base.html" %}
{% load static %}
{% block title %}
Misión y Visión
{% endblock title %}
{% block contenido %}

    <div class="intro">
            <div>
                {{misionvision.0.texto1}}
            </div>
            <br>
            <div>
                {{misionvision.0.texto2}}
            </div>
        </div>
        <div class="img-mv">
            <img src="{{ misionvision.0.imagen.url }}" alt="autolavado">
        </div>
        <div class="misionvision">  
            <div class="mision">
                <div class="titulo">Misión</div>
                <br>
                <div>
                    {{misionvision.0.mision}}
                </div>
            </div>
            <div class="vision">
                
                <div class="titulo">Visión</div>
                <br>
                <div>
                    {{misionvision.0.vision}}
                </div>
            </div>
        </div>

{% endblock contenido %}