{% extends "web/base.html" %}
{% load static%}
{% block title %}
Regístrate!
{% endblock title %}
{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="{% static 'web/js/formularios.js' %}"></script>
    <script src="{% static 'web/js/traducciones.js' %}"></script>
{% endblock js %}

{% block contenido %}

    <br>
        <h1 class="titulo">Regístrate!</h2>
        <br>
        <form action="" id="formulario_registro" class="formulario_registro">
            <div class="form_labels" >
                <ul>
                    <li>
                        <label for="rut">Rut</label>
                        <br>
                        <input type="text" id="rut" name="rut" placeholder="Ingrese su rut">
                    </li>
                    <li>
                        <label for="nombre">Nombre</label>
                        <br>
                        <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre">

                    </li>
                    <li>
                        <label for="apellido">Apellido</label>
                        <br>
                        <input type="text" id="apellido" name="apellido" placeholder="Ingrese su apellido">

                    </li>
                    <li>
                        <label for="email">Email</label>
                        <br>
                        <input type="email" name="email" id="email" placeholder="tu@email.cl">

                    </li>
                    <li>
                        <label for="fecha_nacimiento">Fecha de nacimiento</label>
                        <br>
                        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento">

                    </li>
                    <li>
                        <label for="nombre_usuario">Nombre de usuario</label>
                        <br>
                        <input type="text" id="nombre_usuario" name="nombre_usuario">

                    </li>
                    <li>
                        <label for="contraseña">Contraseña</label>  
                        <br>
                        <input type="password" id="contraseña" name="contraseña">
                    </li>
                </ul>
            </div>
            <br>
            <br>
            <button type="button" id="btnRegistrar"class="button">Registrar</button>
            <br>
            <br>
        </form>

{% endblock contenido %}