{% extends "web/base.html" %}
{% block title %}
Nuestra ubicación y Contacto
{% endblock title %}
{% block contenido %}

    <div class="ubicacion">
            <br>
            <h1 class="titulo">Nuestra ubicación y Contacto</h1>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1176.9280229700655!2d-70.64448245434623!3d-33.453080304302304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c572df3d02fb%3A0x663bfef70d9af378!2sAv.%2010%20de%20Julio%20Huamachuco%2C%20Santiago%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1601008271523!5m2!1ses!2scl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <br>
            <div class="texto-ubicacion">
                <p class="titulo">Dirección:</p>
                <p class="titulo">Av. 10 de Julio Huamachuco 701, Santiago, Región Metropolitana</p>
                <br>
                <p class="titulo">Horario de atencion</p>
                <p class="titulo">Lunes a viernes: 9:00 hrs - 20:00 hrs</p>
                <p class="titulo">Sábados: 9:00hrs - 18:00hrs</p>
                <br>
                <p class="titulo">Contacto</p>
                <p class="titulo">Correo: info@micar.cl</p>
                <p class="titulo">Telefono: 800 952 6300</p>
                <p class="titulo">Movíl: +569 652 284 32</p>
                <br>
            </div>
        </div>

{% endblock contenido %}